navbar

.container(ng-show="main.mode === 'title'")
  .row
    .col-xs-12(ng-repeat="media in main.media")
      a.btn(ng-click="main.mediaSelected(media._id)") {{media.title}}

.container(ng-show="main.mode === 'media'")
  .row
    .col-xs-6
      a.btn(ng-click="main.mode = 'title'") Back
  .row  
    .col-xs-12
      .row
        ul.col-xs-12(infinite-scroll="main.loadMoreWords()", infinite-scroll-distance="1")
          .row(ng-repeat='item in main.wordList')
            li.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6.col-xs-12
              .col-md-4.col-sm-5.col-sm-6.col-xs-6(style="text-align:left;")
                .row
                  a.col-xs-12.btn.btn-primary.word-item(href='#', ng-click="main.showSentences(item)") {{item[0]}}
              .col-xs-3.list-text
                a {{item[1]}}
              .col-xs-3(ng-show="main.isLoggedIn")
                button.close(type='button', ng-click='main.deleteThing(thing)') &times;
              .col-xs-12(ng-show='item.sentences', ng-repeat="sentence in item.sentences")
                a {{sentence.text}}
    .col-xs-12(style="text-align:center")
      a.btn(ng-show="main.wordList.length", ng-click="main.loadMoreWords()") More

.container(ng-show="main.mode === 'sentence'")
  .row
    .col-xs-12
      a.btn(ng-click="main.mode = 'media'") Back
    .col-xs-12(ng-repeat="sentence in main.sentences")
      a.btn {{sentence.text}}